<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="false">
    <meta name="MobileOptimized" content="0">
    <title>MC666官网 | Minecraft资源站</title>
    <link rel="stylesheet" href="styles.css">
</head>



<div class="form">
    <div class="header">
        <img src="../image/1.png" alt="头像" class="avatar">
        <div class="name" style="color: aqua;">アリス・トリスタ</div>
        
    </div>
    <div class="introduction-all">
        <div class="introduction-title" style="color: rgb(253, 159, 8);">简介</div>
        <div class="introduction-content" >
            <p >不是服主 (◍＞◡＜◍)</p>
            <p>6是服主</p>
            <img src="../image/1.gif">
            
        </div>
    <!-- 可以继续添加更多的博客文章内容 -->
    </div>

</div>
<div style="position: fixed; bottom: 80px; right: 20px; z-index: 1000;" class="home-button">
    <a href="https://w1-tech.github.io/mc666/" style="text-decoration: none;">返回首页</a >
</div>

<body>
  
  <footer class="s-footer footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span>版权所有 © 2025 MC666</span> 
                <span><a href="https://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=Ir1zD_GixZEPad26EUGz9l2elHyuw3kr&authKey=HnkNRi%2BTBJDPja7kwj%2Fw2Ggn%2F8BkptVR%2F7GcELFEdM0njEkOFij3e%2FvdtcJTN5c%2B&noverify=0&group_code=1022888564">服务器QQ群:1022888564</a></span>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>






